openapi: 3.2.0
info:
  title: Itsgloria Ai Health API
  version: 1.0.0
  contact:
    name: Gloria Terminal
    url: https://itsgloria.ai
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: itsgloria-ai-openapi.json, itsgloria-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ai.gloriaterminal.com
  description: Production
- url: https://ai-hub.cryptobriefing.com
  description: Production (documented base URL - docs.itsgloria.ai API Integration; verified live 2026-09-19 by API Evangelist)
security:
- BearerAuth: []
- TokenQuery: []
tags:
- name: Health
  description: Service health checks
paths:
  /health:
    get:
      operationId: healthCheck
      tags:
      - Health
      summary: Health check
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: string
                    example: healthy
    servers:
    - url: https://ai.gloriaterminal.com
      description: Production
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from `/auth/verify` or `/user/api-tokens`.
    TokenQuery:
      type: apiKey
      in: query
      name: token
      description: JWT token passed as a query parameter. Equivalent to `BearerAuth`.
x-refined-from:
- itsgloria-ai-openapi.json
- itsgloria-ai-openapi.yml
