openapi: 3.2.0
info:
  title: Gloria Terminal Categories API
  version: 1.0.0
  description: AI-powered crypto intelligence API providing real-time news with sentiment analysis, market narratives, category recaps, and articles.
  contact:
    name: Gloria Terminal
    url: https://itsgloria.ai
servers:
- url: https://ai.gloriaterminal.com
  description: Production
security:
- BearerAuth: []
- TokenQuery: []
tags:
- name: Categories
  description: Available feed categories
paths:
  /available-feed-categories:
    get:
      operationId: getAvailableFeedCategories
      tags:
      - Categories
      summary: List available feed categories
      description: Returns all feed categories available for filtering and subscription. No authentication required.
      security: []
      responses:
        '200':
          description: Category list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedCategory'
components:
  schemas:
    FeedCategory:
      type: object
      required:
      - code
      - name
      properties:
        code:
          type: string
          description: Unique category code (lowercase, underscores)
        name:
          type: string
          description: Display name
        recap_timeframe:
          type:
          - string
          - 'null'
          description: Default recap timeframe (e.g. 12h) or null if recaps are disabled
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from `/auth/verify` or `/user/api-tokens`.
    TokenQuery:
      type: apiKey
      in: query
      name: token
      description: JWT token passed as a query parameter. Equivalent to `BearerAuth`.
